* { box-sizing: border-box; }

@font-face {
    font-family: Italian;
    src: url('fonte/Italianno.TTF');
}

body {
    margin: 0;
    padding: 0;
    color: #3d3d3d;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
}

.container {
     max-width: 1024px;
}

.topo {
    position: fixed;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid gray;
    }

.topo .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 10px; 
    margin: 0 auto;
}

.link-logotipo {
    margin: 0 40px 0 0;
    font-size: 24px;
    text-decoration: none;
    color: #3d3d3d;
}

.link-logotipo span {
    color: cyan;
}

.link-topo {
    text-transform: uppercase;
    line-height: 18px;
    text-decoration: none;
    padding: 0px 15px 10px 15px;
    color:  #3d3d3d;
}

.link:hover {
    border-bottom: 3px solid #6592c9;
}

.titulo-img {
   
}

.titulo-index {
   
}
 
.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    width: 100%;
    margin: 10px auto;
}

.block {
    width: calc(100%/3 - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 20px 20px 20px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.block-titulo {
    text-align: center;
    padding: 15px;
    flex-grow: 1;
}

.block-img {
    height: calc(((100vw - (100vw - 1024px))/3 - 20px) /2);
    flex: 0 0 auto;
}

.block-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-desc {
    padding: 15px;
    flex-grow: 1;
}

.block-link {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.block-link a {
    color: #494949;
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    transition: 0.1s ease;
}

.block-link a:hover {
    background-color: #0a9077b3;
    color: #FFF;
}
.conteudo {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.titulo-conteudo {
    text-align: center;
    padding: 15px;
    flex-grow: 1;
}


.conteudo-link {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.tamanho-maximo-container {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .secao-container {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
  }
  
  .secao-container h2{
      font-size: 32px;
      font-weight: 500;
      text-transform: uppercase;
  }
  
  img {
    width: 100%;
  }
  
  .descricoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .descricao {
    display: flex;
    width: 45%;
    margin: 0 10px;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .descricao-conteudo {
    flex: 1 1 auto;
  }
  
  .descricao-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left:10px;
  }
  
  .rodape-copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid turquoise;
    color: #fff;
    font-weight: 600;
    width: 100%;
  }
  
  .rodape {
    background-color: cadetblue;
    color:#fff;
  }
  
  .rodape h4 {
    font-size: 22px;
  }
  
  .rodape-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .rodape-info {
    width: 23%;
    display: flex;
    align-items: center;
  }
  
  .rodape-link{
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .rodape-icone {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .rodape-info a{
    text-decoration: none;
    color: #fff;
  }

@media (max-width: 768px){
    .block {
        width: calc(100%/2 - 20px);
    }
    .block-img {
        height: calc((100vw /2 - 20px) /2);
    }
}

@media (max-width: 425px){
    .block {
        width: calc(100% - 20px);
    }
    .block-img {
        height: calc((100vw - 20px) /2);
    }
}

@media (max-width: 320px){
    .block {
        width: calc(100%);
        margin: 10px 0;
    }
    .block-img {
        height: calc(100vw /2);
    }
}